<nav>
    <div class="site=title">
        <a href="/"><h1>Blog do balacobaco</h1></a>
        <p>KPC Blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>  
    
</nav>